:root {
  --primary-color: #e50914;
  --dark-color: #141414;
  --light-color: #f4f4f4;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  color: #999;
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

p {
  margin: 0.5rem, 0;
}
img {
  width: 100%;
}
.showcase {
  width: 100%;
  height: 93vh;
  position: relative;
  background: url("https://i.ibb.co/vXqDmnh/background.jpg") no-repeat center
    center/cover;
}

.showcase::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: inset 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}

.showcase-top {
  position: relative;
  height: 90px;
}

.showcase-top img {
  width: 170px;
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50% -50%);
}

.showcase-top a {
  position: absolute;
  z-index: 2;
  top: 50%;
  right: 2%;
  transform: translate(-50% -50%);
}
.showcase-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 9rem;
  z-index: 2;
}

.showcase-content h1 {
  font-weight: 700;
  font-size: 5.2rem;
  line-height: 1.1;
  margin: 0 0 2rem;
}

.showcase-content p {
  font-weight: 400;
  font-size: 1.9rem;
  text-transform: uppercase;
  line-height: 1.1;
  margin: 0 0 2rem;
  color: white;
}
/*buttons*/
.btn {
  background: var(--primary-color);
  display: inline-block;
  color: white;
  padding: 0.3rem 1.2rem;
  text-align: center;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
  margin-right: 0.5rem;
}

.btn:hover {
  opacity: 0.9;
}

.btn-top {
  border-radius: 5px;
}

.btn-30days {
  font-size: 2rem;
  padding: 1.5rem 2.1rem;
  text-transform: uppercase;
}

/*tabs*/

.tabs {
  background: var(--dark-color);
  padding-top: 1rem;
  border-bottom: 3px solid #3d3d3d;
  border-right: none;
}

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-content: center;
  align-items: center;
  justify-content: center;
}
